/* .navbar li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
} */

/* li.dropdown-content:hover {
  display: block;
} */

/* .container {
  width: 600px;
  margin: 50px auto;
  border: 5px solid;
  box-sizing: border-box;
  padding: 5px;
  color: white;
} */

/* footer {
  font-size: large;
  background-color: rgba(50, 49, 49, 0.215);
  display: flex;
} */

/* .card {
  display: inline-block;
  width: 200px;
  height: 300px;
  border: none;
  padding: 5px;
  margin: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
} */
